
*{
     margin: 0;  
     padding: 0; 
     box-sizing: border-box;
    }

    body{
        height: 100vh;
        width: 100%;
        background-color: rgb(135, 165, 191);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease-in-out;
        /* text-align: center; */
    }

    body.night-mode {
        background-color: #151111; /* Night mode */
    }
    

     .button{
        background-color: aliceblue;
        height: 60px;
        width: 65px;
        border-radius: 30px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        box-shadow: 0px 4px 3px 2px;
        transition:background-color 0.5s ease-in-out;
    }

    .ball{
        background-color: rgb(64, 117, 166);
        height: 50px;
        width: 50px;
        border-radius: 30px;
        margin: 5.2px 5.2px 5.2px 7px;
    } 

    .ball:hover{
        background-color: rgb(15, 13, 30);
    }